/* Default styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@100;400;700&display=swap');

* {
  margin:0;
  padding:0;
  outline:0;
  box-sizing:border-box;
}
*:focus {
  outline: 0;
}
body {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button:focus {
  outline: none;
}
body {
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  transition: .3s;
  color: #87CEFA;
}
img:hover{
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
} 