{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<a class="navbar-brand" href="#">Editar usuário - {{ user().name }} </a>

<div class="mt-3">
    {{flash('updated_success') | raw}}
    {{flash('updated_error') | raw}}
</div>

<div class="mt-3">
    {% for key, error in validationFail() %}
        {{error | raw}}</li>
    {% endfor %}
</div>

<form class="row g-3" method="post" action="/user/{{user().id}}/update">    
    <div class="col-md-6">
        <label class="form-label" for="name">Nome:</label>
        <input class="form-control" type="text" name="name" id="name" value="{{user().name}}" required/>
        {{validation('name') | raw}}            
    </div>

    <div class="col-md-6">
        <label class="form-label" for="cpf">CPF:</label>
        <input x-data x-mask="999.999.999-99" placeholder="999.999.999-99" class="form-control cpf" type="text" name="cpf" id="cpf" value="{{user().cpf}}" required/>
        {{validation('cpf') | raw}}
    </div>

    <div class="col-md-6">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="text" name="email" id="email" value="{{user().email}}" required/>
        {{validation('email')| raw}}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>    
</form>

<hr>

    <div class="mt-3">
        {{flash('password_success') | raw}}
        {{flash('password_error') | raw}}
    </div>
    <form class="row g-3" action="/password/user/{{user().id}}" method="post">  

        {{ getCsfr() | raw}}
        <div class="col-md-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" required>
            {{validation('password') | raw}}
        </div>

        <div class="col-md-3">
            <label class="form-label" for="password_confirmation">Password Confirmation:</label>
            <input class="form-control" type="password" name="password_confirmation" id="password_confirmation" required>
            {{validation('password_confirmation') | raw}}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>  
    </form>
<hr>

<form class="row g-3" action="/user/image/update" method="post" enctype="multipart/form-data">     
    <label class="mb-2" for="avatar">
       
        {% if user().path %}
            <img src="{{user().path}}" id="image" class="img-fluid rounded-circle" 
                width="100px" height="100px">
        {% else %}
            <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                id="image" class="img-fluid rounded-circle" 
                style="width: 100px; height: 100px;">
        {% endif %}

        <div class="col-md-3">
            <div class="mb-2">
                <input type="file" name="file" id="avatar" 
                    hidden aria-label="Avatar" 
                    accept="image/gif, image/png, image/jpeg">
            </div>
        </div>
    </label>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Alterar foto</button>
    </div>  
</form>
<script>
    avatar.onchange = event => {
        const [file] = avatar.files
        if (file) {
            image.src = URL.createObjectURL(file)
        }
    }
</script>
{% endblock %}
