{% extends "index.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<a class="navbar-brand" href="#">Editar usuário - {{ user().name }} </a>

<div class="mt-3">
    {{flash('updated_success') | raw}}
    {{flash('updated_error') | raw}}
</div>

<div class="mt-3">
    {% for key, error in validationFail() %}
        {{error | raw}}</li>
    {% endfor %}
</div>

<form class="row g-3" method="post" action="/user/{{user().id}}/update">
    {{ getCsfr() | raw}}    
    <div class="col-md-6">
        <label class="form-label" for="name">Nome:</label>
        <input class="form-control" type="text" name="name" id="name" value="{{user().name}}" required/>
        {{validation('name') | raw}}            
    </div>

    <div class="col-md-6">
        <label class="form-label" for="cpf">CPF:</label>
        <input x-data x-mask="999.999.999-99" placeholder="999.999.999-99" class="form-control cpf" type="text" name="cpf" id="cpf" value="{{user().cpf}}" required/>
        {{validation('cpf') | raw}}
    </div>

    <div class="col-md-6">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="text" name="email" id="email" value="{{user().email}}" required/>
        {{validation('email')| raw}}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>    
</form>

<hr>

    <form class="row g-3" action="/password/user/{{user().id}}" method="post">       
        <div class="col-md-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" required>
            {{validation('password')}}
        </div>

        <div class="col-md-3">
            <label class="form-label" for="password_confirmation">Password Confirmation:</label>
            <input class="form-control" type="password" name="password_confirmation" id="password_confirmation" required>
            {{validation('password_confirmation')}}
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>  
    </form>
<hr>

<form class="row g-3" action="/user/image/update" method="post" enctype="multipart/form-data">
    <div x-data="previewImage()">
        <div class="mb-2">
            <template x-if="imageUrl">
                <img :src="imageUrl" class="object-cover rounded border border-gray-200" style="width: 100px; height: 100px;">
            </template>

            <template x-if="!imageUrl">
                <div class="border rounded border-gray-200 bg-gray-100" style="width: 100px; height: 100px;"></div>
            </template>
        </div>
        <div class="col-md-3">
            <div class="mb-3">
                <input type="file" name="file" class="form-control" aria-label="Avatar" accept="image/gif, image/png, image/jpeg"
                   @change="fileChosen" required>
            </div>
        </div>
    
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Alterar foto</button>
        </div>  
    </div>
</form>
<script>
    function previewImage() {
        return {
            imageUrl: "",

            fileChosen(event) {
                this.fileToDataUrl(event, (src) => (this.imageUrl = src));
            },

            fileToDataUrl(event, callback) {
                if (!event.target.files.length) return;

                let file = event.target.files[0],
                    reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = (e) => callback(e.target.result);
            },
        };
    }
</script>
{% endblock %}
