{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
{% endblock %}

{% block content %}
  
  <a class="navbar-brand" href="#">Bem Vindo {{ user().name }} - {{ user().email }}</a>

  <form method="POST" action="/">
    <input type="text" name="search" placeholder="Digite o nome que deseja buscar...">

    <button type="submit">Buscar</button>
  </form>
  <ul>
    {% for user in users.rows %}
    <li>
      <a href='user/{{user.id}}/show'>
        {{ user.name }}
      </a>
    </li>
    {% else %}
    <li><em>no user found</em></li>
    {% endfor %}
  </ul>

  <p class="important">
    Welcome to my awesome homepage.
  </p>
  {{links | raw}}
{% endblock %}